@{
    ViewData["Title"] = "Xem Page";
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đặt Lịch Thư Quán SGU</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <div class="display">
        <h2 style="margin-top:10px">Thông tin cá nhân</h2>
        <div class="container">
            <img id="preview" src="@Url.Content("~/img/download.png")" alt="" class="profile-img" />
            <div class="info-group">
                <label>Họ và tên:</label>
                <span> @ViewBag.FullName</span>
            </div>
            <div class="info-group">
                <label>Email:</label>
                <span> @ViewBag.Email</span>
            </div>
            <div class="info-group">
                <label>SĐT:</label>
                <span> @ViewBag.SoDienThoai</span>
            </div>

            <form asp-action="Edit" asp-controller="Profile" method="get">
                <button type="submit" id="btn-edit-info">Thay đổi thông tin</button>
            </form>
            <input type="hidden" id="hiddenUserId" value="@ViewData["UserId"]" />

        </div>

    </div>
    <script src="~/js/index.js"></script>
    <script src="~/js/device.js"></script>


    <script>
        const userId = document.getElementById("hiddenUserId").value;
        console.log("User ID:", document.getElementById("hiddenUserId").value);
        if (!userId) {
            window.location.href = "/Login/Login"; // Chuyển hướng đến trang đăng nhập

            alert("Vui lòng đăng nhập trước khi đặt lịch.");
        } else {
            console.log("User ID:", userId);
            // Ở đây bạn có thể gọi Ajax hoặc submit form...
        }
    </script>

</body>

</html>
